/*Custom sd Skin*/

.mejs-container.mejs-sd {

}

/*controls*/
.mejs-sd .mejs-controls {
  background: #e87cbb;
  height: 25px;
}

/*time*/
.mejs-sd .mejs-controls .mejs-time,
.mejs-sd .mejs-controls .mejs-time span {
  color: #5c62f5;
  font-size: 0.9em;
}

/*time loaded*/
.mejs-sd .mejs-time-rail .mejs-time-loaded {
  background: #ffd4cb;
}

/*current time*/
.mejs-sd .mejs-time-rail .mejs-time-current {
  background: #5c62f5;
}

@media screen and (min-width: 768px) {
  /*controls*/
  .mejs-sd .mejs-controls {
    height: 35px;
  } 
  /*time*/
  .mejs-sd .mejs-controls .mejs-time,
  .mejs-sd .mejs-controls .mejs-time span {
    font-size: 1em;
  }
}